body{
    color: black;
    margin: 10px;
    margin-top: 50px;
    border: 3px solid black ;
    height: 700px;
    width: 500px;
    margin-left:500px;
}
#div{
    margin: 5px;;
}
#mn{
    height: 30px;
    width: 170px;
    margin-left: 5px;
    margin-top: 10px;
    width: 360px;
}
#np{
    height: 30px;
    width: 170px;
    margin-left: 5px;
    margin-top: 10px;
    width: 360px;
}
p{
    margin-left: 5px;
}
#ln{
    height: 30px;
    width: 170px;
    margin-left: 5px;
   
}
#fn{
    height: 30px;
    width: 170px;
    margin-left: 7px;
}
#dob{
    height: 30px;
    width: 170px;
    margin-left: 5px;
}
#span1,
#span2,
#span3{ 
    text-decoration: underline;
    color: rgb(124, 17, 124);
}
h3{  
    border: 5px solid rgb(44,222, 16);
    width: 100px;
    height: 20px;
    background-color:rgb(44,222, 16) ;
    color: aliceblue;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px 5px 5px 5px;
}





